html {

    background: url(images_folder/wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

:root {
    --widget-width: 150px;
}

* {
    position: relative;
}
button {
    background-color: rgb(53, 51, 51);
    color: white;
    font-family: "Playwrite US Modern";
    border-radius: 1rem;
    border-color: rgb(168, 105, 63);
    text-align: center;
    border-style: ridge;
    margin: 0.7%;
}

body {
    background-color: burlywood;
    font-family: "Playwrite US Modern";
    font-weight: 200;
    /* border-radius: 1rem; */
}

h1 {
    color: white;
    text-align: center;
    border-style: ridge;
    border-color: rgb(168, 105, 63);
    border-width: 5px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(53, 51, 51);
}

h3 {
    color: white;
    text-align: center;
    border-style: ridge;
    border-color: rgb(141, 84, 47);
    border-width: 5px;
    margin-right: 200px;
    margin-left: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(53, 51, 51);
}

h2 {
    color: white;
    border-style: ridge;
    border-color: rgb(141, 84, 47);
    border-width: 5px;
    margin-right: 80%;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(53, 51, 51);
}

#store-container {
    /* border: 5px solid white; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
    white-space: nowrap;
}

.store {
    background-color: rgb(241, 217, 185);
    text-align: center;
    cursor: pointer;
    /* border-radius: 1rem; */
    margin: 2px;

    color: white;
    border-style: ridge;
    border-color: rgb(141, 84, 47);
    border-width: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(53, 51, 51);
}

.store p {
    margin: 2px;
}

#widget-container {
    /* border: 5px solid white; */
    display: flex;
    flex-wrap: wrap;
}

.widget {
    max-width: var(--widget-width);
    aspect-ratio: 1 / 1;
    margin: 5px;

    cursor: pointer;
    
    justify-content: center;
    display: flex;
    align-items: center;
    flex-basis: calc(33.33% - 16px);

    overflow: hidden;
    position: relative;

    /* border-radius: 1rem; */
}

.store>.widget {
    height: calc(var(--widget-width) * 0.7);
    width: calc(var(--widget-width) * 0.7);
}

/* If the widget is an automatic widget */
.widget[auto="true"] {
    background-color: rgb(119, 219, 211);
    border: 3px solid rgb(255, 255, 255);
    animation-name: bg-fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

/* If the widget is a click widget */
.widget:not([auto="true"]) {
    background-color: rgb(199, 153, 241);
    border: 3px solid rgba(53, 51, 51, 0);
    /* border: 3px solid white; */
}

@keyframes bg-fade {
    0%, 54%, 100% {
        background-color: rgb(86, 216, 205);
    }
    78% {
        background-color: rgb(53, 192, 211);
    }
}

/* Widget with text */
.widget p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.widget p.count {
    left: 0;
    top:0;
    transform: unset;
}

/* Widget with image */
.widget img {
    max-width: 100%;
    max-height: 100%;
}

/* Floating point indicator */
.point {
    position: absolute;
    transform-origin: center;
    color: aqua;
    animation-name: point-float;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes point-float {
    100% {
        opacity: 0%;
        transform: translateY(-50px);
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        color: white;
        text-align: center;
        border-style: ridge;
        border-color: rgb(168, 105, 63);
        border-width: 5%;
        margin-right: 10%;
        margin-left: 10%;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(53, 51, 51);
    }
    
    h3 {
        color: white;
        text-align: center;
        border-style: ridge;
        border-color: rgb(141, 84, 47);
        border-width: 5%;
        margin-right: 20%;
        margin-left: 20%;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: rgb(53, 51, 51);
    }
    
    h2 {
        color: white;
        border-style: ridge;
        border-color: rgb(141, 84, 47);
        border-width: 5%;
        margin-right: 65%;
        margin-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        background-color: rgb(53, 51, 51);
    }
}
